* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Potta One', cursive;
}

body {
    background-color: lightblue;
}

.wrapper {
    width: 70%;
    margin: auto;
}

header > h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
}

.row > .item {
    margin: 20px;
    width: calc(100% / 4 - 40px);
    height: 220px;
    background-image: url(img/pattern.png);
    background-size: contain;
    float: left;
    border-radius: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.item-container {
    position: relative;
    height: 100%;
    background-color: white;
    border-radius: inherit;
    text-align: center;
    display: none;
}

.item:hover > .item-container {
    display: block;
}

.item-container > img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: 70%;
}

.item-container > span {
    position: relative;
    top: 75%;   /* transform: translate(-50%, -5%); */
    font-size: 25px;
}

.row > .item .baloon {
    color:palevioletred;
}

.row > .item .tractor {
    color: orange;
}

.row > .item .bicycle {
    color: royalblue;
}

.row > .item .ship {
    color: rgb(102, 47, 102);
}

.row > .item .submarine {
    color: red;
}

.row > .item .tram {
    color: green;
}

/* So che ha così facendo appesantisco sia l'html che il css, ma volevo sperimentare con la proprietà */

footer {
    text-align: center;
}

footer > span:last-child{
    text-transform: capitalize;
}